.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

// Style your items
.my-masonry-grid_column > Card { /* change div to reference your elements you put in <Masonry> */
  background: grey;
}

.Linkify {
  word-wrap: break-word;
  white-space: normal;
}

button.btn {
  color: #f4f4f4
}
