.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin-left: -23px; /* gutter size offset */
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

// Style your items
.my-masonry-grid_column > Card { /* change div to reference your elements you put in <Masonry> */
  background: grey;
}

.Linkify {
  word-wrap: break-word;
  white-space: normal;
}

button.btn {
  color: #f4f4f4
}

@media (max-width: 960px) {
  .my-masonry-grid {
    margin-left: -25px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
  .gallery-container {
    max-width: 850px;
  }
}

@media (min-width: 960px) {
  .my-masonry-grid {
    margin-left: -75px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
  .gallery-container {
    max-width: 960px;
  }
}
