html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  /*overflow: hidden; this does not work for the post detail page*/
  overscroll-behavior: none; /* This might not work in all browsers */
}

.Linkify a {
  color: #0075DB;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
