html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #304FFE;
  overflow-y: hidden;
  height: 100%;
  overflow: hidden;
}

.Linkify a {
  color: #0075DB;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
